@import "tailwindcss";




@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
body {
  font-family: inherit;
}
/* Apply the animation */
.animate-slide {
  animation: slide 50s linear infinite;
}
.group:hover .animate-slide {
  animation-play-state: paused;
}

.text-outline {
  color: transparent; /* Make the text fill transparent */
  -webkit-text-stroke-width: 2px; /* Set the stroke width for WebKit browsers */
  -webkit-text-stroke-color: white; /* Set the stroke color */
}
@keyframes scroll-y {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}


.animate-scroll-y {
  animation: scroll-y 30s linear infinite;
}